/* {
    border: solid black .01px;
} */

/*
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body {
  background-color:#222;
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
}

h1 a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}

a.effect-box:after,
a.effect-box:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
} */




body {
    font-family: "Gill Sans";
    position: relative;
}

.container-fluid,
.row,
.col {
    margin: 0;
    padding: 0;
}

.header {
    letter-spacing: .125em;
}

img {
    width: 100%;
    height: auto;
}

#bobrobert {
    letter-spacing: .2em;
    font-weight:lighter;
    font-size:xx-large;
}

#headline,
#sell,
#startup,
#clickToRead {
    font-family: "IBM Plex Serif Medium";
    font-style: bold;
}

#sell,
#startup,
#headline {
    font-size: 3.7em;
    color: rgb(68, 68, 68);
}

#pol {
    font-size: 1.25em;
    letter-spacing: .175em;
}

/* nav */
.navbar {
    width: 100vw;
    /*position: fixed;*/
    z-index: 1;
}

.navbar a {
    font-weight: 100;
    letter-spacing: .3vw;
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: darkgrey !important;
}

#ul {
    /*background: url("wideROBERT.webp");
    background-repeat: no-repeat;*/
    display: flex;
    justify-content: space-between;
}

.nav-link {
    color: black !important;
}

/* nav */

#test {
    font-size: 1.15em;
}
#line, #test {
    letter-spacing: .109em;
    line-height: 1.1em;
    margin-bottom: 1.25vh;
}

h1 {
    color: rgb(228, 228, 228);
    font-weight: 600;
    letter-spacing: .1em;
}

#position {
    font-size: 1.2em;
    letter-spacing: .15em;
    line-height: 2.8vh;
    padding-bottom: .8vh;
}

#place {
    color: rgb(151, 151, 151);
    font-size: 1em;
    letter-spacing: .15em;
    line-height: 2.5vh;
    padding-bottom: 1vh;
    padding-top: 0;
}

#touch {
    width: 1.4em;
}

#clickToRead {
    font-size: 2.25em;
    color: rgb(151, 151, 151);
}
#subtitle {
    font-size: 1.5em;
}

.coded {
    width: 18em;
}

.col-md-3,
.col-s-4,
.col-lg-4,
.col-md-6 {
    display: grid;
    align-items: center;
    text-align: center;
    padding: 1vw 1vw;
}

img.things, img.thing {
    width: 15em;
}

.totl {
    width: 6em;
    margin: .25em;
}

.virtual {
    width: 12em;
    margin: .25em;
}

.title {
    width: 10em;
    margin: .25em;
}

img.mooncats {
    padding: 2vw 0;
    width: 10em;
}

img.things, img.thing {
    width: 10em;
    margin: .25em;
}

.jhu {
    width: 5em;
    margin: .5em;
}

#envelope {
    width: 5em;
}

.envelope, .jhu, .things, .totl, .virtual,
.title,
.nav-link {
    transition: all .5s ease-in-out;
}

.envelope:hover, .jhu:hover, .things:hover, .totl:hover, .virtual:hover,
.title:hover,
.nav-link:hover {
    transform: scale(1.1);
}
#envelope:hover {
    text-decoration: none;
}

#bottom {
    padding-bottom: 25vh;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    .navbar {
        padding: 0 17.5vw;
    }

    #ul {
        padding: 0;
        width: 100vw;
        background-size: 67vw;
    }

    #nav {
        font-size: 1em;
    }

    #sell,
    #startup,
    #headline {
        font-size: 2.5em;
        color: rgb(0, 0, 0);
    }


}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 0 17.75vw;
    }

    #ul {
        padding: 3.75vh 0;
        width: 100vw;
        background-size: 65vw;
    }

    #nav {
        font-size: 1.2em;
    }

    #sell,
    #startup,
    #headline {
        font-size: 3em;
        color: rgb(68, 68, 68);
    }


}

/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 0 18vw;
    }

    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 64vw;
    }

    #nav {
        font-size: 1.1em;
    }

    #sell,
    #startup,
    #headline {
        font-size: 2.5em;
        color: rgb(68, 68, 68);
    }

    .totl {
        width: 5em;
        margin: .25em;
    }

    .virtual {
        width: 11em;
        margin: .25em;
    }

    .title {
        width: 10em;
        margin: .25em;
    }

    .pdv {
        width: 6em;
        margin: .25em;

    }

    .jhu {
        width: 5em;
        margin: .25em;

    }

    img.mooncats {
        padding: 2vw 0;
        width: 18em;
    }
}

/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 0 2vw;
    }

    #ul {
        padding: 3.25vh 0;
        width: 100vw;
        background-size: 97vw;
    }

    #nav {
        font-size: 1.1em;
    }

    #sell,
    #startup,
    #headline {
        font-size: 2.5em;
        color: rgb(68, 68, 68);
    }

    .totl {
        width: 6em;
        margin: .25em;
    }

    .pdv {
        width: 6em;
        margin: .25em;
    }

    .jhu {
        width: 5em;
        margin: .25em;
    }

    .virtual {
        width: 20em;
        margin: .25em;
    }

    img.mooncats {
        padding: 2vw 0;
        width: 15em;
    }

}

/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    .navbar {
        padding: 0 3vw;
    }

    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 97vw;
    }

    #nav {
        font-size: 1em;
    }

    #position,
    #place {
        line-height: 3.5vh;
    }

    #sell,
    #startup,
    #headline {
        font-size: 2.5em;
        color: rgb(68, 68, 68);
    }

    .totl {
        width: 6em;
        margin: .25em;
    }


    .virtual {
        width: 20em;
        margin: .25em;
    }

    img.mooncats {
        padding: 2vw 0;
        width: 10em;
    }

    img.pdv {
        padding: 2vw;
        width: 6em;
    }



}

/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */