/* {
    border: solid black .01px;
}*/

body {
    font-family: "Gill Sans";
    position: relative;
}
.container-fluid, .row, .col {
    margin: 0; padding: 0;
}

.header {
    letter-spacing: .125em;
}
img {
    width: 100%;
    height: auto;
}
#zoom:hover {
    transform: scale(2.25);
    position: relative;
    z-index: 1;
    transition: 1s ease-in-out;
}
#bobrobert {
    letter-spacing: 0.1em;
}
#headline, #sell, #startup {
    font-family: "IBM Plex Serif Medium";
    font-style: bold;
}
#sell, #startup, #headline {
    font-size: 3.7em;
    color:rgb(68, 68, 68);
}

#med, #pol {
    letter-spacing: .125em;
}

/* nav */
.navbar {
    width: 100vw;
    /*position: fixed;*/
    z-index: 1;
}
.navbar a {
    font-weight: 100;
    letter-spacing: .3vw;
}
.navbar-nav .nav-link.active {
    font-weight: 500;
    color: darkgrey !important;
}

#ul {
    /*background: url("wideROBERT.webp");
    background-repeat: no-repeat;*/
    display: flex;
    justify-content: space-between;
}
.nav-link {
    color: black !important;
}
/* nav */


#line {
    letter-spacing: .109em;
    line-height: 1.1em;
    margin-bottom: 1.25vh;
}
h1 {
    color: rgb(228, 228, 228);
    font-weight: 600;
    letter-spacing: .1em;
}
#position {
    font-size: 1.2em;
    letter-spacing: .15em;
    line-height: 2.8vh;
    padding-bottom: .8vh;
}
#place {
    color: rgb(151, 151, 151);
    font-size: 1em;
    letter-spacing: .15em;
    line-height: 2.5vh;
    padding-bottom: 1vh;
    padding-top: 0;
}

#bottom {
    padding-bottom: 25vh;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    .navbar {
        padding: 0 17.5vw;
    }
    #ul {
        padding: 0;
        width: 100vw;
        background-size: 67vw;
    }
    #nav {
        font-size: 1em;
    }

    #sell, #startup, #headline {
        font-size: 2.5em;
        color:rgb(68, 68, 68);
    }
    img.pinky {
        max-width: 22.5vw;
        padding: 0 .25em .25em 0;
    }
    img.bor {
        max-width: 12.5vw;
        padding: 0 1em 1em 0;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar {
        padding: 0 17.75vw;
    }
    #ul {
        padding: 3.75vh 0;
        width: 100vw;
        background-size: 65vw;
    }
    #nav {
        font-size: 1.2em;
    }

    #sell, #startup, #headline {
        font-size: 3em;
        color:rgb(68, 68, 68);
    }
    img.pinky {
        max-width: 38vw;
        padding: 0 .25em .25em 0;
    }
    img.bor {
        max-width: 15vw;
        padding: 0 1em 1em 0;
    }
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 0 18vw;
    }
    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 64vw;
    }
    #nav {
        font-size: 1.1em;
    }

    #sell, #startup, #headline {
        font-size: 2.5em;
        color:rgb(68, 68, 68);
    }
    img.pinky {
        max-width: 35vw;
        padding: 0 .25em .25em 0;
    }
    img.bor {
        max-width: 15vw;
        padding: 0 1em 1em 0;
    }
}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        padding: 0 2vw;
    }
    #ul {
            padding: 3.25vh 0;
            width: 100vw;
            background-size: 97vw;
    }
    #nav {
        font-size: 1.1em;
    }

    #sell, #startup, #headline {
        font-size: 3em;
        color:rgb(68, 68, 68);
    }
    img.pinky {
        max-width: 32.5vw;
        padding: 0 .25em .25em 0;
    }
    img.bor {
        max-width: 22.5vw;
        padding: 0 1em 1em 0;
    }

}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    .navbar {
        padding: 0 3vw;
    }
    #ul {
        padding: 2.5vh 0;
        width: 100vw;
        background-size: 97vw;
    }
    #nav {
        font-size: .9em;
    }

    #position, #place {
        line-height: 3.5vh;
    }
  
    #sell, #startup, #headline {
        font-size: 2.5em;
        color:rgb(68, 68, 68);
    }
    img.pinky {
        max-width: 32.5vw;
        padding: 0 .25em .25em 0;
    }
    img.bor {
        max-width: 22.5vw;
        padding: 0 1em 1em 0;
    }


}
/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
