/* {
    border: solid black .01px;
}*/


body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    color: slategrey;
}

.container-fluid {
    max-width: 100%;
}

.container-fluid,
.row,
.col,
[class*="col-"] {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.4em;
    font-weight: 800;
    letter-spacing: .05em;
    color: #FF006E;
}

#border-black-superlinked, 
#border-black {
    color: white;
    padding: .25em;
    background-color: #ff4800e6;
    border-radius: .5em;
}

.carousel-item img.home {
    border: solid .1px;
    border-radius: 10px 10px 0 0;
}

.carousel-item img {
    border: solid .1px;
    border-radius: 10px;
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: .025em;
}

img {
    width: 100%;
    height: auto;
}

#articleImg {
    border-radius: 15px;
    margin-bottom: 1em;
}

.col-xl-8,
.col-lg-7 {
    padding-left: 10em;
}

#headParis {
    width: 6em;
    border-radius: 10px;
}

/* nav */

#greetings,
#clients {
    color: slategrey;
}

#ul {
    display: flex;
    justify-content: flex-end;
}

.navbar-expand {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    border-bottom: .05em solid slategrey;
}

#nav {
    margin-top: .5em;
    font-size: 1.15em;
}

.nav-link {
    margin-left: 1em;
    border: solid .1px;
    border-radius: 10px;
}

.nav-link.contact {
    border: solid .1px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.90);
    background-color: rgba(0, 0, 0, 0.79);
}

/* nav */

#test,
#line,
#articleLine {
    font-size: 1.1em;
}

#articleLine,
#line,
#test {
    letter-spacing: .05em;
    line-height: 1.2em;
    margin-bottom: 1.25vh;
}

#line {
    padding-left: .5em;
}

#articleLine {
    padding-left: 1em;
}

.col-md-2,
.col-sm-3,
.col-5 {
    padding-bottom: .5em;
}

#portfolio,
#mooncats {
    border: solid .1px slategrey;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

#outer {
    margin-bottom: .5em;
}

#logo {
border: solid .1px slategrey;
border-radius: 10px;
padding: .2em;
margin: .2em;
}


#logo:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s;
    background-color: lightblue;
}

#quoteBlock {
    padding: .5em;
    margin: 0 0 1em 0;
    /*border: solid .1px;*/
    border-radius: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8em;
    letter-spacing: .0em;
    color: black;
    background-color: rgba(0, 0, 0, 0.075);
}

#quote {
    font-style: italic;
    font-size: .9em;
}

#portfolio,
#mooncats
.nav-link {
    transition: all .5s ease-in-out;
}

.things:hover,
.nav-link:hover,
.footerText:hover {
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

#article-img {
    padding-right: 1em;
}

#bottom {
    padding-bottom: 10vh;
}

#footer {
    padding-top: 1em;
    background-color: lightslategray;
}

.footerText {
    line-height: 2.25em;
}

#footerLink {
    padding: .35em;
    border: solid .05px white;
    border-radius: 10px;
    text-decoration: none;
}

li {
    list-style-type: none;
} 

.row.footer {
    display: flex;
    justify-content: space-between;
}
.row.cut {
    border-radius: 0 0 10px 10px;
}

#cutline, #cutline-super {
    font-size: .8em;
    color: rgb(40, 40, 41);
    line-height: 1.22em;

    padding: .75em .5em;
    margin-bottom: .5em;
    border-radius: 10px;
    font-size: .8em;
    background-color: rgba(0, 0, 0, 0.075);
}
#cutline:hover, #cutline-pf:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    background-color: #FF006E;
} 
#cutline-pf {
    display:inline-block;
    font-size: .8em;
    
    color: rgb(40, 40, 41);
    line-height: 1.22em;
    padding: .75em .5em;
    margin-bottom: .5em;
    border-radius: 0 0 10px 10px;
    font-size: .8em;
    background-color: rgba(249, 58, 10, 0.25);
}

#pf-title {
    font-weight: bold;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {

    .col-lg-6.left {
        padding-right: 2.5em;
    }
    #bioSmall {
        display: none;
    }
    #kub {
        width: 5em;
        padding: 0 .25em;
        margin-bottom: .5em;
    }

    #kubFoot {
        width: 4em;
        padding: .5em .25em;
    }


}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {

    .col-lg-6.left {
        padding-right: 1em;
    }
    #bioSmall {
        display: none;
    }
    #border-black-superlinked {
        letter-spacing: .7px;
        font-size: 1em;
    }
    .container-fluid {
        padding: 0 2em;
    }
    #kub {
        width: 5em;
        margin-bottom: .5em;
    }

    #kubFoot {
        width: 4em;
        padding: .5em .25em;
    }

}

/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {

    #space {
        padding-top: .5em;
    }
    #bio {
        display: none;
    }
    #border-black-superlinked {
        letter-spacing: .7px;
        font-size: 1em;
    }
    #kub {
        width: 5em;
        margin-bottom: .5em;
    }

    #kubFoot {
        width: 5em;
        padding: .5em .25em;
    }

    .container-fluid {
        padding: 0 1.5em;
    }

    #nav {
        font-size: 1.05em;
    }

}

/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {

    #space {
        padding-top: .5em;
    }
    #bio {
        display: none;
    }
    #border-black-superlinked {
        letter-spacing: .7px;
        font-size: .75em;
    }
    #kub {
        width: 5em;
        margin-bottom: .5em;
    }

    #kubFoot {
        width: 5em;
        padding: .5em .25em;
    }

    #nav {
        font-size: 1.05em;
    }

    .container-fluid {
        padding: 0 1em;
    }

    #headParis {
        padding: 0;
    }

}

/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {

    #space {
        padding-top: .5em;
    }
    #bio {
        display: none;
    }

    #kub {
        width: 5em;
        margin-bottom: .5em;
    }

    #kubFoot {
        width: 5em;
        padding: .5em .25em;
    }

    #nav {
        font-size: .95em;
    }

    .container-fluid {
        padding: 0 .5em;
    }

    #headParis {
        padding-right: 0;
    }

    #border-black-superlinked {
        letter-spacing: .7px;
        font-size: .8em;
    }
    #test {
        font-size: 1em;
    }

    #helloEmail {
        font-size: 1em;
    }

    #position,
    #place {
        line-height: 3.5vh;
    }

}

/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */