/* {
    border: solid black .01px;
} */

 /* slideshow */

.slideshow {
    position: relative;
  height: 80vh;
    margin: 0 auto;
  }
  #slideImg {
    max-height: 75vh;
  }
 
  .slide {
    position: absolute;
    animation: 50s autoplay6 infinite cubic-bezier(0.19, 1, 0.22, .8);
    opacity: 0;
  }
  
  .slide:nth-child(1) {
    animation-delay: 0s;
  }
  .slide:nth-child(2) {
    animation-delay: 5s;
  }
  .slide:nth-child(3) {
    animation-delay: 10s;
  }
  .slide:nth-child(4) {
    animation-delay: 15s;
  }
  .slide:nth-child(5) {
    animation-delay: 20s;
  }
  .slide:nth-child(6) {
    animation-delay: 25s;
  }
  .slide:nth-child(7) {
    animation-delay: 30s;
  }
  .slide:nth-child(8) {
    animation-delay: 35s;
  }
  .slide:nth-child(9) {
    animation-delay: 40s;
  }
  .slide:nth-child(10) {
    animation-delay: 45s;
  }

  @keyframes autoplay6 {
    0% { opacity: 0; }
    4% { opacity: 1;}
    9% { opacity: 1;}
    11% { opacity: 0;}
    100% { opacity: 0; }
  }
 
  #Rpad {
    padding: 0 1em 0 0;
  }
  #Lpad {
    padding: 0 0 0 1em;
  }
  /* slideshow */


body {
    font-family: "Inter";
    position: relative;
    color: slategrey;
}

.container-fluid {max-width: 100%;}

.container-fluid,
.row, .col,
[class*="col-"] {
    margin: 0;
    padding: 0;
}

h1 {font-size: 1.2em;
font-weight: 800;
letter-spacing: .05em;
color: rgba(0, 0, 0, 0.70);
}
h3 {font-size: 1.1em;
    font-weight: 200;
    letter-spacing: .025em;
    color: rgba(0, 0, 0, 0.70);
}

img {
    width: 100%;
    height: auto;
}
#articleImg {
    border-radius: 15px;
    margin-bottom: 1em;
}
.col-xl-8,.col-lg-7 {
    padding-left: 10em;
}
#headParis {
    width: 6em;
    border-radius: 10px;
}

/* nav */

#greetings, #clients {
    color:slategrey;
}

#ul {
    display: flex;
    justify-content: space-between;
}

.navbar-expand {
    margin: .5em 0;
    border-bottom: .05em solid slategrey;
}
#nav {
    margin-top: .5em;
    font-size: 1.15em;
}
.nav-link {
    border: solid .1px;
    border-radius: 10px;
}
.nav-link.contact {
    border: solid .1px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.90);
    background-color: #FF579F;
}

/* nav */

#test, #line, #articleLine {
    font-size: 1.1em;
}
#articleLine, #line, #test {
    letter-spacing: .05em;
    line-height: 1.2em;
    margin-bottom: 1.25vh;
}
#line {
    padding-left: .5em;
}
#articleLine {
    padding-left: 1em;
}
.col-md-2,.col-sm-3, .col-5 {
    padding-bottom: .5em;
}
#mooncats {
    border: solid .1px slategrey;
}
#portfolio, #mooncats {
    border-radius: 10px;
}

#bio, #bioSmall {
    padding: .5em;
    margin: 0 1em 1.5em 0;
    border: solid .1px;
    border-radius: 10px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.90);
}

#quoteBlock {
    padding: .5em;
    margin: 0 1em 1.5em 0;
    border: solid .1px;
    border-radius: 10px;
    font-size: 1em;
    color: #ffffffe9;
    background-color: slategrey;
}
#quote {
    font-style: italic;
}

#logo {
    display: grid;
    padding: 1vw 1vw;
}

.darkroom, .totl {
    width: 4em;
    margin: .25em;
}
.virtual {
    width: 9em;
    margin: .25em;
}
.title {
    width: 8em;
    margin: .25em;
}
img.mooncats {
    padding: 2em;
    width: 8em;
}
img.things, img.thing {
    width: 8em;
    margin: .25em;
}
.jhu {
    width: 5em;
    margin: .5em;
}

#portfolio, #mooncats, .jhu, .things, .darkroom, .totl, .virtual,
.title,
.nav-link {
    transition: all .5s ease-in-out;
}
.jhu:hover, .things:hover, .darkroom:hover, .totl:hover, .virtual:hover,
.title:hover,
.nav-link:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#portfolio:hover,  #mooncats:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#article-img {
    padding-right: 1em;
}

#bottom {
    padding-bottom: 10vh;
}
#footer {
    padding-top: 1em;
    background-color:slategrey;
}
#footerKub {
    padding: .5em 0 0 0;
}
#footerText {
    line-height: 2.25em;
}
#footerLink {
    padding: .35em;
    border: solid .05px white;
    border-radius: 10px;
    text-decoration: none;
}
li {
    list-style-type: none;
}



/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    
    #bioSmall {display: none;}

    #kub {
        width: 5em;
        padding: 0 .25em;
        margin-right: 50vw;
        margin-bottom: .5em;
    }
    #kubFoot {
        width: 4em;
        padding: .5em .25em;
    }

    
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {

    #bioSmall {display: none;}

    .container-fluid {
        padding: 0 2em;
    }
    #kub {
        width: 5em;
        margin-right: 48vw;
        margin-bottom: .5em;
    }
    #kubFoot {
        width: 4em;
        padding: .5em .25em;
    }

}

/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    
    #bio {display: none;}

    #kub {
        width: 5em;
        margin-right: 48vw;
        margin-bottom: .5em;
    }
    #kubFoot {
        width: 5em;
        padding: .5em .25em;
    }
    .container-fluid {
        padding: 0 1.5em;
    }
    #nav {
        font-size: 1.05em;
    }

    .darkroom, .totl {
        width: 5em;
        margin: .25em;
    }

    .virtual {
        width: 11em;
        margin: .25em;
    }

    .title {
        width: 10em;
        margin: .25em;
    }

    .pdv {
        width: 6em;
        margin: .25em;

    }

    .jhu {
        width: 5em;
        margin: .25em;

    }

    img.mooncats {
        padding: 2vw 0;
        width: 18em;
    }

}

/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {

    #bio {display: none;}

    #kub {
        width: 5em;
        margin-right: 35vw;
        margin-bottom: .5em;
    }
    #kubFoot {
        width: 5em;
        padding: .5em .25em;
    }
    #nav {
        font-size: 1.05em;
    }
    .container-fluid {
        padding: 0 1em;
    }

#headParis { padding: 0;}
h1, h3 {
    padding-left: .25em;
}
    .darkroom, .totl {
        width: 4em;
        margin: .25em;
    }

    .pdv {
        width: 6em;
        margin: .25em;
    }

    .jhu {
        width: 5em;
        margin: .25em;
    }

    .virtual {
        width: 10em;
        margin: .25em;
    }

    img.mooncats {
        padding: 2vw 0;
        width: 15em;
    }

}

/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {

    #bio {display: none;}

        #kub {
            width: 5em;
            margin-right: 3.5vw;
            margin-bottom: .5em;
        }
        #kubFoot {
            width: 5em;
            padding: .5em .25em;
        }
        #nav {
            font-size: .95em;
        }
        .container-fluid {
            padding: 0 .5em;
        }
        #headParis {
            padding-right: 0;
        }
        h1, h3, p {
            padding-left: .25em;
        }
        #test {
        font-size: 1em;
        }

    #helloEmail {font-size: 1em;}

    #position,
    #place {
        line-height: 3.5vh;
    }

    .darkroom {
        width: 4.5em;
        margin: .25em;
    }
     .totl {
        width: 4em;
        margin: .25em;
    }


    .virtual {
        width: 11em;
        margin: .25em;
    }

    img.mooncats {
        padding: 2vw 0;
        width: 10em;
    }

    img.pdv {
        padding: 2vw;
        width: 6em;
    }

}

/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */